{% extends 'template/index.html' %}
{% block title %} Vouchers {% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
    <section class="dashboard-header">
    <div class="container-fluid">
        <div class="form-group col-sm-12">

            <!-- Modal -->

<div class="modal fade" id="edit_vouchers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Registrar Pago</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="update_pay" class="form_persona">
              {% include 'app/form-pay.html' %}
      <div class="modal-footer">
        <button type="submit" id="button-pay" class="btn btn-outline-primary">Actualizar</button>

        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
      </div>
          </form>
      </div>
    </div>
  </div>
</div>
        </div>
    </div>



    <div class="container-fluid">
        <table id="list-persona" class="display table table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Voucher#</th>
                    <th>Dni</th>
                    <th>Nombre</th>
                    <th>Mercado</th>
                    <th>Seccion</th>
                    <th>Puesto</th>
                    <th>Fecha de pago</th>
                    <th>Monto</th>
                    <th>Editar</th>
                    <th>Ver</th>


                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </section>
{% endblock %}
{% block js %}

 <script>

var dataset = [];
{% if voucher %}
    {% for vou in voucher %}
        dataset.push({id:"{{vou.id}}",voucher:"{{vou.vouch.id}}",dni:"{{vou.vouch.consession.clients.dni}}",name:"{{vou.vouch.consession.clients.firstname}} {{vou.vouch.consession.clients.lastname}}",market:"{{vou.vouch.consession.points.sections.markets.name}}",section:"{{vou.vouch.consession.points.sections.name}}",point:"{{vou.vouch.consession.points.point_code}}",date:"{{vou.vouch.date_pay}}",price_point:"{{vou.price_point}}"});
        console.log("{{vou}}");

    {% endfor%}

    {% else %}

{%endif%}



$(document).ready(function() {


    var table = $('#list-persona').DataTable( {
        "language": {
            "sProcessing":     "Procesando...",
            "sLengthMenu":     "Mostrar _MENU_ registros",
            "sZeroRecords":    "No se encontraron resultados",
            "sEmptyTable":     "Ningún dato disponible en esta tabla",
            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix":    "",
            "sSearch":         "Buscar:",
            "sUrl":            "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        },
        {#dom: "Bfrtip",#}
        "data":dataset,
        "aoColumns": [
            { "data": "id" },
            { "data": "voucher" },
            { "data": "dni" },
            { "data": "name" },
            { "data": "market" },
            { "data": "section" },
            { "data": "point" },
            { "data": "date" },
            { "data": "price_point" },



            {
            "targets": -1,
            "data": null,
            "defaultContent": '<button class="btn btn-outline-warning btn-sm"><i class="fa fa-edit"></i> Editar</button>'
            },
            {
            "targets": -1,
            "data": null,
            "defaultContent": '<button class="btn btn-outline-primary btn-sm"><i class="fa fa-eye"></i> Ver</button>'
            }
        ],
        "order": [[ 0, "desc" ]],
        "pageLength": 10,
        {#"lengthMenu": false,#}
        "bLengthChange": false,
        {#select: true,#}
    } );

    $('.dataTables_filter label').addClass('col-sm-12 control-label');
    $('.dataTables_filter input').addClass('form-control');
    {#$('.dataTables_length label').addClass('col-sm-12 control-label');#}
    {#$('.dataTables_length select').addClass('form-control');#}

    $('#list-persona tbody').on( 'click', 'button.btn-outline-warning', function () {
        var data = table.row( $(this).parents('tr') ).data();

        console.log(data);
        $("#id_pay").val(data.id);
        $("#voucher").val(data.voucher);
        $("#dni_pay").val(data.dni);
        $("#full_name").val(data.name);
        $("#concession").val(data.market+"  /  "+data.section+" / "+data.point);
        $("#price").val(data.price_point);
        $('#edit_vouchers').modal('show');


    } );

    $('#list-persona tbody').on( 'click', 'button.btn-outline-primary', function () {
        var data = table.row( $(this).parents('tr') ).data();
        console.log(data.id);
    } );

    $('#button-pay').click(function(e){
        e.preventDefault();
        var id=parseInt($("#id_pay").val());
        var voucher=parseInt($("#voucher").val());
        var csrf_pay=$('#pay_concession input[name=csrfmiddlewaretoken]').val();
        var price_point=parseInt($("#price").val());
        console.log(csrf_pay);
        var datos;
        datos={
            csrfmiddlewaretoken:csrf_pay,
            id:id,
            vouch:voucher,
            price_point:price_point,
            price_water:0,
            price_energy:0

        };
          $.ajax({
        url: "http://127.0.0.1:8000/api/VoucherDetail/"+voucher+"/",
        type: "PUT",
        dataType: "json",
        data:datos,
        success: function(data) {

            alert("éxito!!1");
        }
      });
    });


} );
    </script>
{% endblock %}